@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Tilt+Warp&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family : 'Kanit', sans-serif;
    font-family: 'Tilt Warp', cursive;;
}
/*header*/
.header{
    height: 80;
    width: 100%;
    padding: 0px 50px;
    box-shadow: rgb(107, 144, 128) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(107, 144, 128);
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 70px;
    font-size: 20px;
}
.header img{
    height: 100%;
}
.logo{
    width: 160px;
}
.navbar-link{
    text-decoration: none;
    color: black;
    font-weight: 300;

}
.navbar {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}


/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: column;
    justify-content: center;
    background: #E2F2E5;
}

/*hero*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero-presentation {
    max-width: 600px;
    margin-right: 2rem;
  }
  
  .hero-presentation h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  
  }
  
  .hero-presentation span {
    color: #F28C38;
  }
  
  .hero-presentation p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-size: 30px;
  }
  
  .hero-img {
    max-width: 50%;
  }
  .hero-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .primary-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6B9080;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease;
  }
  
  .primary-btn:hover {
    background-color:#0077cc;
  }

.hero-img{
    width: 700px;
    border-radius: 20px;
}
.hero-text{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
font-size: 30px;
}


/* info card */

#info {
    padding: 50px 0;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#info h2 {
    font-size: 32px;
    font-weight: 822px;
    color: #F28C38
}

.info-card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin-top: 50px;
}

.info-card {
    width: 300px;
    height: 500px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:#B3CFB8;
    border-radius: 10px;
    gap: 20px;
    transition: all 0.3s ease;
}
.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
.info-card img {
    width: 300px;
    border-radius: 15px;
}

.info-card h3 {
    font-weight: 600;
    font-size: 18px;
}

.info-card p {
    font-weight: 14px;
    font-weight: 400;
    color: var(--text-gray);
}

#footer {
    background:#6B9080;
    color: black;
    padding: auto;
    flex-direction: column;
    justify-content: center;
  }
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-logo {
  width: 160px;
  }
 .footer-info {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 300px;
 }